body {
    background-color: #222222;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins";
    font-weight: 600;
}

/* Navigation */
.anigen-navigation,
.uk-tooltip,
.uk-tooltip::before {
    background-color: #666666;
}

/* Splash */
#splash h6 {
    color: rgba(255, 255, 255);
    width: 50vw;
}

#splash p {
    color: rgba(255, 255, 255);
    width: 50vw;

}

/* Rates */
#rates .uk-heading-medium, #rates .uk-heading-large {
    font-family: Montserrat;
}

/* Slideshow */
#slideshow h1,
#slideshow h2,
#slideshow h3,
#slideshow h4,
#slideshow h5,
#slideshow h6 {
    color: rgb(255, 255, 255);
    font-weight: 700;
}

#slideshow h1>small,
#slideshow h2>small,
#slideshow h3>small,
#slideshow h4>small,
#slideshow h5>small,
#slideshow h6>small {
    font-size: calc(0.6vw + 0.6rem) !important;
    font-weight: 500;
}

#slideshow p {
    color: rgb(255, 255, 255);
    width: 30vw;
}

#slideshow .uk-button {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
}

/* About */
#about h3 {
    font-family: "Poppins" !important;
}

#about h1 div {
    font-family: "Poppins" !important;
    color: rgb(255, 255, 255) !important;
    font-size: calc(3.5vw + 2vh) !important;
}

#about h3,
#about p {
    color: rgb(255, 255, 255);
}

#about h3 sup {
    font-size: calc(0.75vw + 0.75vh);
}

#about .uk-button {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
}

/* Console */
#console .anigen-bgcolor {
    background-color: #111111b3;
}