h1 {
    font-size: 2vw;
}

p {
    font-size: 0.9vw;
}

.box-heading {
    color: white;
    background-color: black;
    padding: 1.5vw;
    margin: 0px;
    display: inline-block;
}

.box-paragraph {
    width: 55vw;
    color: black;
    background-color: white;
    opacity: 0.8;
    padding: 1.5vw;
    margin: 0px;
}

/* Scroll Snap */
 html {
     height: 100vh;
     overflow-y: scroll;
     scroll-snap-type: y mandatory;
 }

 .uk-section {
     scroll-snap-align: start;
     height: 100vh;
 }

 html.no-snap {
     scroll-snap-type: none !important;
 }