 /* Typography */
 * {
     font-family: "Poppins";
 }


 .logo {
     width: calc(10vw + 7vh);
     filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.3));
 }

 .icon {
     width: calc(1.6vw + 1.6vh);
     filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.3));
 }

 /* Menu */
 .uk-nav a {
     color: #000000 !important;
     font-size: 12px;
 }


 h1,
 h2,
 h3,
 h4,
 h5,
 h5 {
     font-family: "Montserrat";
     font-weight: 700;
 }

 h1 {

     font-size: clamp(2rem, 5vw, 4rem);
 }

 h2 {
     font-size: clamp(1rem, 2vw, 2.25rem);
 }

 h3 {
     font-size: clamp(0.95rem, 1.7vw, 1.75rem);
 }

 h4 {
     font-size: clamp(0.9rem, 1.4vw, 1.5rem);
 }

 h5 {
     font-size: clamp(0.85rem, 1.2vw, 1.25rem);
 }

 h6 {
     font-size: clamp(0.8rem, 1vw, 1rem);
 }

 p {
     font-family: "Poppins";
     font-weight: 400;
     font-size: clamp(0.5rem, 1vw, 1.25rem);
 }



 /* Scroll Snap */
 html {
     overflow-y: scroll;
     scroll-snap-type: y proximity;
     scroll-behavior: smooth;
 }

 .uk-section {
     scroll-snap-align: none;
 }

 .uk-section.snap {
     scroll-snap-align: start;
     scroll-snap-stop: normal;
 }

 .uk-section.snap.full {
     min-height: 100vh;
 }