/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins" !important;
    font-weight: 600;
}

/* Navigation */
.anigen-navigation,
.uk-tooltip,
.uk-tooltip::before {
    background-color: #ac863f;
}

/* Credit Card */
#creditcard h3 {
    font-family: CreditCard !important;
    font-size: calc(4.5vw + 1vh);
    color: rgba(255, 255, 255);
}

#creditcard h5 {
    font-family: CreditCard !important;
    font-size: calc(2vw + 2vh);
    color: rgba(255, 255, 255) !important;
}
#creditcard p {
    color: rgba(255, 255, 255) !important;
}

.worldmap {
    width: calc(45vw + 45vh);
    opacity: 0.2;
}

#creditcard .anigen-bgcolor {
    background-color: rgba(234, 158, 16, 0.5);
}

/* Console */
#console .anigen-bgcolor {
    background-color: rgba(234, 158, 16, 0.5);
}