#slideshow h2 {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(19, 10, 0, 0.6);
    text-shadow: 1px 1px 2px #000000;
    padding: 1.5vw;
    margin: 0px;
    display: inline-block;
}

#slideshow p {
    width: 55vw;
    color: rgb(255, 255, 255);
    background-color: rgba(47, 25, 1, 0.3);
    text-shadow: 1px 1px 2px #000000;
    padding: 1.5vw;
    margin: 0px;
}





#cta {
    background-color: rgb(17, 9, 1);
}

#cta h2 {
    color: rgb(255, 255, 255);
}

#cta p {
    color: rgb(255, 255, 255);
}

.uk-button {
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}