/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins" !important;
    font-weight: 600;
}

/* Navigation */
.anigen-navigation,
.uk-tooltip,
.uk-tooltip::before {
    background-color: #111111;
}

/* Profile */
#profile .anigen-photo {
    width: calc(20vw + 20vh);
    border-radius: 50%;
}

#profile h3 {
    color: rgba(255, 255, 255);
}

#profile p {
    color: rgba(255, 255, 255);

}

#profile .uk-button {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
}

#profile .anigen-bgcolor {
    background-color: rgb(51, 51, 51, 0.7);
}

#profile .triangle {
    height: 100px;
}

#profile .triangle-inverted {
    height: 100px;
}

#profile .incline {
    height: 100px;
}

#profile .decline {
    height: 100px;
}

#profile .wave {
    height: 100px;
}

#profile .wave-reverse {
    height: 100px;
}

/* Console */
#console .anigen-bgcolor {
    background-color: rgb(51, 51, 51, 0.7);
}