/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins" !important;
    font-weight: 600;
}

/* Navigation */
.anigen-navigation,
.uk-tooltip,
.uk-tooltip::before {
    background-color: #4e6263;
}

/* Profile */
#profile .anigen-photo {
    width: calc(20vw + 20vh);
    border-radius: 50%;
}

#profile h3 {
    color: rgba(255, 255, 255);
}

#profile p {
    color: rgba(255, 255, 255);

}

#profile .uk-button {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
}

#profile .anigen-bgcolor {
    background-color: rgba(78, 98, 99, 0.7);
}

#profile .triangle {
    height: 100px;
}

#profile .triangle-inverted {
    height: 100px;
}

#profile .incline {
    height: 100px;
}

#profile .decline {
    height: 100px;
}

#profile .wave {
    height: 100px;
}

#profile .wave-reverse {
    height: 100px;
}

/* Slideshow */
#slideshow h4 {
    color: rgb(255, 255, 255);
}

#slideshow p {
    color: rgb(255, 255, 255);
    width: 65vw;
}

#slideshow .uk-button {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
}

/* Gallery */
#gallery {
    background-color: #fff;
}

/* About */
#about h1 span {
    font-family: "Poppins" !important;
    color: rgb(255, 255, 255);
}

#about h3 {
    color: rgb(255, 255, 255);
}

#about .anigen-fontsize {
    font-size: calc(5.5vw + 4.5vh);
}

#about p {
    color: rgb(255, 255, 255);
}

#about .uk-button {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
}


/* Rates */


/* FAQs */
#faqs {
    background-color: rgb(82, 15, 0);
}

#faqs h1 {
    color: rgb(255, 255, 255);
    margin: 0px;
}

#faqs h6 {
    color: rgb(255, 255, 255);
    margin: 0px;
}

#faqs p {
    color: rgb(255, 255, 255);
    margin-top: 0px;
}

/* Console */
#console .anigen-bgcolor {
    background-color: rgba(78, 98, 99, 0.7);
}